.vp-government-block{
  padding: 100px 0 30px 0;
  overflow: hidden;

  @media(max-width: $width-md){
    padding: 40px 0 20px 0px;
  }

  .vp-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 32px;

    @media(max-width: $width-md){
      gap: 16px;
    }

    @media(max-width: $width-sm){
      grid-template-columns: 1fr;
    }
  }

  .vp-item{
    $self: &;
    border: 1px solid $line;
    border-radius: 10px;
    padding: 32px;
    backdrop-filter: blur(15.5px);
    background-color: $black15;

    @media(max-width: $width-md){
      padding: 20px;
    }

    &--index{
      border: 1px solid $line;
      border-radius: 10px;
      width: 60px;
      height: 60px;
      backdrop-filter: blur(15.5px);
      background-color: $black15;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 0 5px auto;

      @media(max-width: $width-md){
        width: 48px;
        height: 48px;
        order: -1;
      }

      span{
        display: block;
        border-radius: 50%;
        background-color: $gold;
        width: 8px;
        height: 8px;
        margin: 2px;
      }
    }

    &--head{
      display: grid;
      grid-template-columns: 1fr 60px;
      gap: 20px;
      margin-bottom: 16px;

      @media(max-width: $width-md){
        grid-template-columns: 48px 1fr;
        align-items: center;
      }
    }

    &--subtitle{
      font-weight: 500;
      font-size: 18px;
      color: $gold;
    }

    &--title{
      font-size: 48px;
      margin-bottom: 16px;

      @media(max-width: $width-md){
        font-size: 32px;
      }
    }

    &--text{
      font-weight: 300;
      font-size: 16px;

      @media(max-width: $width-md){
        font-size: 14px;
      }
    }

    &:nth-of-type(4){
      .vp-item--index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        padding: 16px;
      }
    }

    &:nth-of-type(5){
      .vp-item--index{
        align-content: center;

        span{
          &:first-child{
            margin: 2px 20px;
          }

          &:last-child{
            margin: 2px 20px;
          }
        }
      }
    }
  }
}