.vp-hello-block{
  $self: &;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  overflow: hidden;
  min-height: 100vh;
  display: grid;

  .wrapper{
    min-height: 100%;
  }

  &--grid{
    min-height: 100%;
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 53% 47%;
  }

  &--content{
    //max-width: 260px;
    font-size: 18px;

    .vp-text{
      font-weight: 300;
      font-size: 18px;

      p{
        margin: 0;

        b, strong{
          font-weight: 300;
          position: relative;

          &:before{
            content: '';
            position: absolute;
            width: calc(100% + 2px);
            height: 2px;
            left: -1px;
            top: calc(50% + 1px);
            background-color: $gold;
          }
        }
      }
    }
  }

  &--contact{
    border: 1px solid $secondary;
    border-radius: 10px;
    backdrop-filter: blur(15.5px);
    background-color: $black15;
    padding: 32px;

    .vp-text{
      font-weight: 300;
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 50px;
    }
  }

  &--col{
    position: relative;

    &:nth-of-type(1){
      padding: 40px 50px 40px 0;
      display: grid;
    }

    &:nth-of-type(4){
      &:before{
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        left: -7px;
        border: 1px solid $white30;
        background: radial-gradient(circle, $gray 40%, rgba(0,0,0,0) 40%);
      }
    }

    &:nth-of-type(2n + 1){
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $white30;
      }
    }

    &:nth-of-type(1),
    &:nth-of-type(2){
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 55vw;
        background-color: $white30;
      }
    }

    &:nth-of-type(1){
      &:after{
        right: 0;
      }
    }

    &:nth-of-type(2){
      &:after{
        left: 0;
      }
    }
  }

  .vp-btn{
    margin-top: 25px;
  }

  .vp-title{
    min-height: 125px;
    margin-top: auto;
  }

  .vp-label{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 16px;
  }

  .vp-items{
    display: grid;
    grid-template-columns: max(330px);
    gap: 38px;
    padding: 20px 20px 0 32px;

    .vp-item{
      &--index{
        border-radius: 50%;
        padding: 10px;
        width: 43px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        font-weight: 300;
        backdrop-filter: blur(8px);
        background-color: $secondary;
      }

      &--text{
        font-weight: 300;
        font-size: 18px;
      }
    }
  }

  .vp-items-type_4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: auto;

    .vp-item{
      backdrop-filter: blur(15.5px);
      background: $black15;
      border: 1px solid $secondary;
      border-radius: 10px;
      height: 140px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &--title{
        font-weight: 500;
        font-size: 18px;
        max-width: 170px;
      }

      &--text{
        font-weight: 300;
        font-size: 16px;
      }
    }
  }


  &.type_1{
    #{$self}--col{
      &:nth-of-type(4){
        padding: 30px 30px 40px 30px;
      }
    }
  }

  &.type_2{
    #{$self}--col{
      &:nth-of-type(3){
        padding: 20px 60px 40px 0;

        .vp-items{
          grid-template-columns: repeat(2, 1fr);
          padding: 0;
        }
      }
    }
  }

  &.type_3{
    #{$self}--col{
      &:nth-of-type(4){
        padding: 24px 0px 40px 24px;
      }
    }
  }

  &.type_4{
    #{$self}--col{
      &:nth-of-type(1){
        //padding: 48px 48px 48px 0;
      }
      &:nth-of-type(2){
        display: grid;
        padding: 40px 0 40px 40px;
      }
      &:nth-of-type(3){
        padding: 40px 40px 40px 0;
      }
      &:nth-of-type(4){
        padding: 40px 30px 40px 30px;
      }
    }
  }
}