.vp-highlights-block {
  padding: 100px 0 100px 0;

  @media(max-width: $width-md){
    padding: 40px 0 40px 0;
  }

  .vp-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 60px auto 0 auto;
    max-width: 1090px;

    @media(max-width: $width-md){
      grid-template-columns: 1fr;
      gap: 16px;
      margin: 45px auto 0 auto;
    }
  }

  .vp-item{
    &--head{
      border: 1px solid $gold;
      border-radius: 10px;
      backdrop-filter: blur(15.5px);
      background-color: $gold20;
      padding: 24px;
      text-align: center;

      @media(max-width: $width-sm){
        text-align: left;
        padding: 16px;
        cursor: pointer;

        br{
          display: none;
        }
      }
    }

    &--title{
      font-weight: 400;
      font-size: 24px;
      color: $yellow;

      @media(max-width: $width-sm){
        font-size: 18px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 1fr 16px;
        align-items: center;
        gap: 10px;

        .vp-icon{
          width: 16px;
          height: 16px;
          transition: 0.3s;
        }
      }
    }

    .active{
      .vp-item--title{
        .vp-icon{
          transform: rotate(180deg);
        }
      }
    }

    &--subtitle{
      font-weight: 300;
      font-size: 18px;
      margin: 15px auto 0 auto;

      @media(max-width: $width-sm){
        font-size: 16px;
        margin: 24px 0 0 0;
      }
    }

    &--body{
      margin-top: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 7px 8px;

      @media(max-width: $width-sm){
        grid-template-columns: 1fr;
        gap: 8px;
        margin-bottom: 8px;
      }
    }

    &--block{
      border: 1px solid $line;
      border-radius: 10px;
      backdrop-filter: blur(15.5px);
      background: $black15;
      text-align: center;
      padding: 20px;
    }

    &--quote{
      border: 1px solid $line;
      border-radius: 47px;
      padding: 8px 12px;
      width: max-content;
      margin: 0 auto 14px auto;
      font-family: $second-family;
      color: $white30;
    }

    &--text{
      font-weight: 300;
      font-size: 18px;
      height: calc(18px * 1.2 * 2);
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @media(max-width: $width-minlg){
        font-size: 16px;
      }
    }
  }
}