.vp-program-block{
  padding: 100px 0 100px 0;
  $offset-top: 200px;

  @media(max-width: $width-minlg){
    padding: 80px 0 80px 0;
  }

  @media(max-width: $width-sm){
    br{
      display: none;
    }
  }

  .vp-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 500px 752px;

    @media(max-width: $width-minlg){
      grid-template-columns: 340px 1fr;
    }

    @media(max-width: $width-sm){
      grid-template-columns: 100%;
      margin-bottom: 55px;
    }

    &--right{
      margin: 0 0 0 0;
    }
  }

  .vp-container--block{
    position: sticky;
    top: $offset-top;
    max-height: calc(100vh - (#{$offset-top} + 100px));
    height: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;

    @media(max-height: $width-sm){
      $offset-top: 150px;
      top: $offset-top;
      max-height: calc(100vh - (#{$offset-top} + 100px));
    }

    @media(max-width: $width-sm){
      height: auto;
      display: block;
      max-height: none;
      min-height: 0;
    }

    .vp-text{
      margin-top: auto;
    }
  }

  .vp-btn{
    margin-bottom: 30px;

    @media(max-width: $width-sm){
      margin-top: 24px;
    }
  }

  .vp-progress{
    border-radius: 2px;
    width: 304px;
    height: 5px;
    min-height: 5px;
    background-color: $line;
    margin: 30px 0 30px 0;
    position: relative;
    //position: sticky;
    //top: $offset-top;

    @media(max-width: $width-sm){
      display: none;
    }

    &:before{
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: var(--progress);
      border-radius: 2px;
      height: 3px;
      background-color: $white;
    }
  }

  .vp-items{
    margin-top: 32px;
  }

  .vp-item{
    padding-bottom: 42px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;

    &:last-child{
      padding-bottom: 0;
    }

    @media(max-width: $width-minlg){
      padding-bottom: 24px;
      padding-left: 24px;
      padding-right: 24px;
      gap: 24px;
    }

    @media(max-width: $width-sm){
      border-bottom: 1px solid $line;
    }

    &:not(:first-child){
      border-top: 1px solid $line;
      padding-top: 45px;

      @media(max-width: $width-minlg){
        padding-top: 24px;
      }

      @media(max-width: $width-sm){
        border-bottom: none;
      }
    }

    &--img{
      border: 1px solid $line;
      border-radius: 10px;
      width: 80px;
      min-width: 80px;
      height: 80px;
      backdrop-filter: blur(15.5px);
      background: $black15;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      @media(max-width: $width-minlg){
        width: 48px;
        min-width: 48px;
        height: 48px;
        padding: 14px;
      }

      img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &--inner{

    }

    &--title{
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 24px;

      @media(max-width: $width-minlg){
        font-size: 18px;
        margin-bottom: 8px;
      }
    }

    &--text{
      font-weight: 300;

      @media(max-width: $width-minlg){
        font-size: 14px;
      }
    }
  }
}