.vp-program-block{
  padding: 100px 0 100px 0;
  $offset-top: 200px;

  .vp-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 500px 752px;

    &--right{
      margin: 0 0 0 0;
    }
  }

  .vp-container--block{
    position: sticky;
    top: $offset-top;
    height: calc(100vh - (#{$offset-top} + 100px));
    display: flex;
    flex-direction: column;

    .vp-text{
      margin-top: auto;
    }
  }

  .vp-btn{
    margin-bottom: 30px;
  }

  .vp-progress{
    border-radius: 2px;
    width: 304px;
    height: 5px;
    min-height: 5px;
    background-color: $line;
    margin: 30px 0 30px 0;
    position: relative;
    //position: sticky;
    //top: $offset-top;

    &:before{
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: var(--progress);
      border-radius: 2px;
      height: 3px;
      background-color: $white;
    }
  }

  .vp-items{
    margin-top: 32px;
  }

  .vp-item{
    padding-bottom: 42px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;

    &:not(:first-child){
      border-top: 1px solid $line;
      padding-top: 45px;
    }

    &--img{
      border: 1px solid $line;
      border-radius: 10px;
      width: 80px;
      min-width: 80px;
      height: 80px;
      backdrop-filter: blur(15.5px);
      background: $black15;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &--inner{

    }

    &--title{
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 24px;
    }

    &--text{
      font-weight: 300;
    }
  }
}