.vp-timelines-block{
  .vp-text{
    margin-top: 32px;
    font-weight: 400;
    font-size: 24px;
  }

  .vp-table{
    display: grid;
    gap: 100px;
    margin: 50px 0 0 0;

    &--row{
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &-inner{
        display: grid;
        grid-template-columns: max(450px) max(335px) 1fr;
        padding: 32px 0;
      }
    }

    &--head{
      &-inner{
        display: grid;
        grid-template-columns: max(450px) max(335px) 1fr;
      }
    }

    &--col{
      display: grid;

      &:nth-child(2){
        padding-right: 20px;
      }
    }

    &--heading{
      font-size: 32px;
      color: $gold;
    }

    &--index{
      font-size: 24px;
      color: $gold;
    }

    &--title{
      font-size: 24px;
    }

    &--text{
      font-weight: 300;
      font-size: 16px;
      display: grid;
      gap: 24px;

      p{
        margin: 0 0 0 0;
      }
    }

    &--quote{
      font-weight: 300;
      font-size: 16px;
      color: $white30;
      margin: auto 0 0 0;
    }
  }
}