.vp-x3-slider-block{
  //padding: 50px 0 100px 0;
  padding: 50px 0;
  overflow: hidden;

  @media(max-width: $width-sm){
    padding: 40px 0 0px 0;
  }

  &--head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;

    .vp-title{
      margin-bottom: 30px;

      @media(max-width: $width-sm){
        margin-bottom: 24px;
      }
    }
  }

  .swiper{
    max-width: $width-lpt;
    margin: 98px auto 0 auto;
    padding-top: 48px;
    padding-bottom: 40px;
    overflow: visible;
    cursor: grab;

    @media(max-width: $width-sm){
      padding: 32px 0;
      margin: 0 0 0 0;
    }
    
    &:active{
      cursor: grabbing;
    }
  }

  @media(min-width: $width-sm-min){
    .swiper-pagination{
      display: none;
    }
  }

  .swiper-slide{
    min-height: 265px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    @media(min-width: $width-lg-min){
      transform: translate3d(0, 40px,0);
      width: calc(#{$width-lpt}/3)!important;

      &.swiper-slide-next{
        z-index: 100!important;
        transform: translate3d(0, -48px, 0);

        .vp-item{
          //padding-top: 55px;
          padding-top: 30px;
        }

        & + .swiper-slide{
          transform: translate3d(0, 0, 0);
        }
      }

      &.swiper-slide-active{
        z-index: 40!important;
        transform: translate3d(0, 0, 0);
      }

      @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
          z-index: 30 - $i;
        }
      }
    }

    @media(max-width: $width-sm){
      padding: 0 20px;
    }
  }

  .vp-item{
    width: 500px;
    min-width: 500px;
    min-height: 265px;
    margin: 0 auto;
    border: 1px solid $line;
    border-radius: 10px;
    backdrop-filter: blur(15.5px);
    background: $black15;
    text-align: center;
    padding: 24px 24px 20px 24px;
    transition: 0.3s;

    @media(max-width: $width-lg){
      min-width: 0;
      max-width: none;
      width: 100%;
      padding: 12px;
      min-height: 240px;
    }

    &--title{
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 20px;
    }

    &--text{
      font-weight: 300;
      font-size: 18px;
      color: $white30;
      min-height: calc(((18px * 1.2) + 16px) * 4 );
      display: flex;
      flex-direction: column;
      justify-content: center;

      p{
        margin: 8px 0;
      }
    }
  }
}