.vp-header{
  border-bottom: 1px solid $white30;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 28px 0 25px 0;
  transition: 0.3s;

  &.fixed{
    backdrop-filter: blur(10px);
    background-color: $secondary;
  }

  .vp-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .vp-menu{
    margin: 14px auto 0 65px;

    .menu{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;
    }
  }
}