.vp-btn{
  $self: &;
  position: relative;
  width: max-content;
  max-width: 100%;

  &--inner{
    font-family: $second-family;
    border: 1px solid $gold;
    border-radius: 2px;
    height: 48px;
    padding: 0 24px;
    max-width: 100%;
    backdrop-filter: blur(8px);
    background-color: $gold20;
    font-weight: 300;
    font-size: 16px;
    color: $yellow;
    text-align: center;
    display: block;
    display: flex;
    align-items: center;
  }

  &--up{

  }

  &--down{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .vp-icon{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 8px 0 0;
  }

  &:hover{
    #{$self}--down{
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:active{
    #{$self}--down{
      color: $black;
      background-color: $gold;
    }
  }
}

a.vp-btn{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vp-btn--simple{
  $self: &;
  position: relative;
  width: max-content;
  max-width: 100%;

  &--inner{
    font-family: $font-family;
    border-radius: 2px;
    padding: 14px 24px;
    max-width: 100%;
    backdrop-filter: blur(8px);
    background-color: $secondary;
    font-weight: 300;
    font-size: 16px;
    color: $white;
    text-align: center;
    display: block;
  }

  &--up{

  }

  &--down{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    //text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:hover{
    #{$self}--up{
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    #{$self}--down{
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:active{
    #{$self}--inner{
      background-color: $white;
      color: $black;
    }
  }
}

a.vp-btn--simple{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}