.vp-disclaimer{
  &--title{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
  }

  &--subtitle{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }

  &--text{
    p{
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &--list{
    border: 1px solid $white30;
    border-radius: 10px;
    backdrop-filter: blur(15.5px);
    background: rgba(255, 255, 255, 0.05);
    margin: 20px 0 15px 0;
    padding: 16px 16px 8px 16px;

    &-inner{
      max-height: 430px;
      overflow: auto;
      padding-right: 16px;
    }

    &-item{
      padding: 16px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:first-child{
        padding-top: 0;
      }

      &:last-child{
        padding-bottom: 0;
      }

      &--title{
        font-weight: 600;
        font-size: 16px;
        color: $gold;
        margin-bottom: 8px;
      }

      &--text{
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}