.vp-modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease;
  padding: 20px;
  overflow: auto;

  &--mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }

  &--wrapper {
    z-index: 9999;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0px auto;
  }

  &--container {
    background-color: $line;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 24px;
    overflow: hidden;
  }

  &--body{
    position: relative;
  }

  &--header{
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
  }

  &--close{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid $white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .vp-icon{
      width: 100%;
      height: 100%;
    }
  }

  &--title{
    font-weight: 400;
    font-size: 24px;
    transition: 0.3s ease;
  }

  &--subtitle{
    font-weight: 300;
    font-size: 16px;
    color: $white30;
  }

  &--terms{
    margin: 45px 0 30px 0;

    .vp-checkbox{
      &--box{
        border-radius: 50%;
      }

      &--text{
        margin: 3px 0 0 0;

        a{
          font-weight: 400;
          color: $gold;
        }

        b,strong{
          font-weight: 400;
        }
      }
    }
  }

  &--steps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-left: 60px;
  }

  &--step{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 16px;
    color: $white30;
    transition: 0.3s;
    padding-top: 2px;

    &.active{
      color: $white;
    }

    &.passed{
      color: $gold;
      background-color: $gold20;
    }

    &-line{
      width: 13px;
      height: 1px;
      background-color: $white30;
    }
  }

  &--group{
    margin-bottom: 16px;
  }

  &--block{
    padding: 16px;
    border: 1px solid $white30;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;

    &-label{
      font-size: 16px;
    }

    &-container{
      display: flex;
      gap: 32px;
      margin-top: 20px;

      .vp-checkbox,
      .vp-radio{
        flex-direction: column-reverse;
        align-items: center;

        &--text{
          font-size: 16px;
        }
      }
    }
  }

  &--label{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;

    span{
      display: block;
      color: $white30;
    }
  }

  &--heading{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
  }

  &--text{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-bottom: 45px;
  }

  &--navigation{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-active {
    opacity: 0;
  }

  &-enter &--container,
  &-leave-active &--container {
    transform: scale(1.05) translateY(-50%);
  }

  &--big{
    .vp-modal--wrapper{
      max-width: 860px;
    }

    .vp-modal--container{
      padding: 32px;
    }
  }
}

.v-leave-to{
  position: absolute;
  top: 0;
  left: 0;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s, transform, 0.5s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}